:stylus
  .viewport
    position: relative
    overflow: hidden

  .navbar
    z-index: 10

  .content-wrap
    z-index: 5
    max-height: 100%
    position: relative
    overflow: hidden

  .sidenav
    z-index: 10
    position: absolute
    top: 0
    left: 0
    bottom: 0

    transition-property: transform
    transition-duration: 400ms
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)

  .rightpanel
    z-index: 10
    position: absolute
    top: 0
    right: 0
    bottom: 0

    transition-property: transform
    transition-duration: 400ms
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)

  .content
    z-index: 5

    transition-property: transform
    transition-duration: 400ms
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)

  .overlay
    z-index: 9
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: $theme.base.on.normal

    transition-property: opacity
    transition-duration: 400ms
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)

  .critical-message
    z-index: 10
    background: $theme.critical.normal
    color: $theme.critical.on.normal
    nz-typo: $typo.body2
    padding: 8px 16px
    text-align: center
    nz-elevation: 3


div.viewport(fxFlex="grow", fxLayout="column", fxLayoutAlign="start stretch")
  .nz-navbar.navbar(fxFlex="none")

  div.content-wrap(fxFlex="1 1 0", fxLayout="row", fxLayoutAlign="start stretch")
    .nz-sidenav.sidenav(
        fxFlex="none",
        fxLayout="column",
        fxLayoutAlign="start stretch",
        [attr.tabindex]="vps.menu.opened ? '0' : '-1'",
        [style.width.px]="vps.menu.width",
        [style.transform]="menuTransform",
        on-transitionend="recalcContentPadding($event)")

    .nz-viewport-content.content(
        fxFlex="grow", fxLayout="column", fxLayoutAlign="start stretch",
        [style.padding-right.px]="contentPadding",
        [style.transform]="contentTransform")
      ng-content

    .overlay(
        [style.display]="overlayDisplay",
        [style.opacity]="overlayOpacity",
        on-transitionend="updateOverlayVisibility($event)")

    .nz-vp-rightpanel.rightpanel(
        fxFlex="noshrink",
        [attr.tabindex]="vps.right.opened ? '0' : '-1'",
        [style.width.px]="vps.right.width",
        [style.transform]="rightTransform",
        on-transitionend="recalcContentPadding($event)")

  .critical-message(*ngIf="vps.cmMessage | async as cmMessage")
    div {{ cmMessage.message }}
    ng-template([ngIf]="cmMessage.expire")
      div.cm-time([nzDate]="cmMessage.expire", format="relative-to")
