

div(fxFlex="grow", fxLayout="row", fxLayoutAlign="start center", fxLayoutGap="4px")
  button.nz-button(
    [color]="btnState.bold ? 'dark-base' : 'base'",
    variant="tiny filled icon",
    nzQtip="Vastag", nzQtipAlign="top center",
    (tap)="exec('bold')")
    i.nz-icon(class=icon("mdi/format-bold", 20))

  button.nz-button(
    [color]="btnState.italic ? 'dark-base' : 'base'",
    variant="tiny filled icon",
    nzQtip="Dőlt", nzQtipAlign="top center",
    (tap)="exec('italic')")
    i.nz-icon(class=icon("mdi/format-italic", 20))

  button.nz-button(
    [color]="btnState.underline ? 'dark-base' : 'base'",
    variant="tiny filled icon",
    nzQtip="Aláhúzott", nzQtipAlign="top center",
    (tap)="exec('underline')")
    i.nz-icon(class=icon("mdi/format-underline", 20))

  button.nz-button(
    [color]="btnState.strikeThrough ? 'dark-base' : 'base'",
    variant="tiny filled icon",
    nzQtip="Áthúzott", nzQtipAlign="top center",
    (tap)="exec('strikeThrough')")
    i.nz-icon(class=icon("mdi/format-strikethrough", 20))

