:stylus
  @require "./data-grid.styl"

  .rows
    flex-grow: 1
    display: grid
    justify-content: stretch

ng-content(select=".nz-columns")

.nz-scroller
  .rows([ngStyle]="rowsGridTemplate")
    ng-template(nzVirtualFor, [nzVirtualForOf]="dataView" let-virtual let-row="index" bind-fixedItemHeight="_rowHeight")
      ng-template(ngFor, [ngForOf]="columns.items" let-column let-col="index" let-firstCell="first" let-lastCell="last")
        .nz-data-grid-cell(
          bind-row="row"
          bind-col="col"
          bind-column="column"
          bind-data="virtual"
          bind-class.first-cell="firstCell"
          bind-class.last-cell="lastCell")
      //- .cell(style="grid-row: {{row}};grid-column: {{col}};") {{row}} - {{col}}
