:stylus
  .filename
    cursor: pointer
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    display: flex
    justify-content: flex-start
    align-items: center

  .fileinput
    width: 0.1px
    height: 0.1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1

  .btn
    cursor: pointer
    margin: -10px 4px -10px 4px

  .progress
    position: absolute
    left: 0
    right: 0
    bottom: -4px


ng-container(nzLayout="inline row", nzLayoutAlign="start center")
  label.filename([attr.for]="readonly || uploadInProgress ? null : id + '-file'", nzFlex="1 10 1px") {{ filename.value || '&nbsp;' }}

  ng-template([ngIf]="downloadUrl")
    .nz-button.btn(nzFlex="none", (tap)="_download($event)", tabindex="-1", color="common", variant="tiny icon", [disabled]="uploadInProgress")
      i.nz-icon(class=icon("mdi/download-outline", 18))

  ng-template([ngIf]="file && !readonly")
    .nz-button.btn(nzFlex="none", (tap)="_clearValue($event)", tabindex="-1", color="common", variant="tiny icon", [disabled]="uploadInProgress")
      i.nz-icon(class=icon("mdi/close", 18))

  label.nz-button.btn(*ngIf="!readonly", [attr.for]="id + '-file'", nzFlex="none", [attr.tabindex]="tabIndex", color="common", variant="tiny icon", [disabled]="uploadInProgress")
    i.nz-icon(class=icon("mdi/file-upload", 18))

input.fileinput([attr.id]="id + '-file'", type="file", (change)="onFileChange($event)", tabindex="-1", [disabled]="uploadInProgress")
ng-template([ngIf]="uploadInProgress")
  nz-progress.progress(type="bar", [source]="model.progress", height="4", color="info")
