:stylus
  .scroller
    display: block !important

  .progress
    position: absolute


ng-template([ngIf]="_isBusy")
  nz-progress.progress(
      type="bar",
      style="width:auto",
      [style.top.px]="paddingTop",
      [style.left.px]="paddingLeft",
      [style.right.px]="paddingRight",
      color="info")


ng-container(nzLayout="row", nzLayoutAlign="start stretch")
  .nz-scroller.scroller(nzFlex="grow", #scroller)
    div(scrollable)
      .nz-list(
        nzLayout="column",
        nxLayoutAlign="start stretch",
        [style.padding-top.px]="paddingTop",
        [style.padding-left.px]="paddingLeft",
        [style.padding-right.px]="paddingRight",
        [style.padding-bottom.px]="paddingBottom")
        ng-template(nzVirtualFor, [nzVirtualForOf]="source", let-virtual, let-index="index", [extraHeight]="paddingTop + paddingBottom", #virtualList="nzVirtualFor")
          .nz-exlist-item([data]="virtual", [index]="index")
