:stylus
  .content-expandable
    cursor: pointer !important

  .indicator
    text-align: center

  .children
    overflow: visible !important

  .icon
    opacity: 0.7
    position: relative
    top: -1px


.nz-tree-item-row(
    *ngIf="level >= 0",
    nzLayout="row",
    nzLayoutAlign="start center",
    [style.height.px]="height",
    [style.padding-left.px]="(height - 8) * level",
    (tap)="onItemTap($event)",
    [ngClass]=`{"${style('content-expandable')}": isNode || this.tree.selection.type != 'none'}`,
    [selectable]="$implicit",
    (selected)="onSelectionChange($event)",
    #sel="selectable")

  .indicator(nzFlex="none", nzLayout="row", nzLayoutAlign="center center", [style.width.px]="height", [style.height.px]="height")
    ng-template([ngIf]="_isBusy", [ngIfElse]="ifNotBusy")
      nz-progress(type="circle", [radius]="(height - 8) / 2", [color]="sel.selected ? 'normal' : 'common'")
    ng-template(#ifNotBusy)
      ng-template([ngIf]="isNode", [ngIfElse]="ifIsLeaf")
        ng-template([ngIf]="_isExpanded", [ngIfElse]="ifNotExpanded")
          i.nz-icon.icon(class=icon("mdi/folder-open-outline", 19))
        ng-template(#ifNotExpanded)
          i.nz-icon.icon(class=icon("mdi/folder-outline", 19))
      ng-template(#ifIsLeaf)
        i.nz-icon.icon(class=icon("mdi/circle-medium", 19))

  .nz-tree-item-content(nzFlex="grow", nzLayout="row", nzLayoutAlign="start center")
    ng-container([ngTemplateOutlet]="tree.contentTpl", [ngTemplateOutletContext]="this")
  .buttons(nzFlex="none")
    ng-container([ngTemplateOutlet]="tree.buttonsTpl", [ngTemplateOutletContext]="this")

ng-template([ngIf]="isNode && _isExpanded && _children")
  ng-template([ngIf]="_children.length > 0", [ngIfElse]="ifIsEmpty")
    .children(nzLayout="column", nzLayoutAlign="start stretch")
      ng-template(ngFor, [ngForOf]="_children", let-child)
        .nz-tree-item(nzFlex="none", [level]="level + 1", [model]="child")

  ng-template(#ifIsEmpty)
    .nz-list-empty([style.height.px]="height") Nincs további gyereke

