:stylus
  .content-expandable
    cursor: pointer !important

  .indicator
    width: 36px

  .children
    padding-left: 36px + 16px
    margin-top: 8px

  .icon-container
    width: 36px
    height: 48px
    position: relative

  .icon
    position: absolute
    left: 50%
    top: 50%
    margin: -12px 0 0 -12px


.nz-tree-item-row(fxLayout="row", fxLayoutAlign="start center", fxLayoutGap="8px")
  .indicator(fxFlex="none")
    ng-template([ngIf]="_isBusy", [ngIfElse]="ifNotBusy")
      nz-progress(type="circle", radius="14", color="common")
    ng-template(#ifNotBusy )
      ng-template([ngIf]="isNode", [ngIfElse]="ifIsLeaf")
        ng-template([ngIf]="_isExpanded", [ngIfElse]="ifNotExpanded")
          button.nz-button(variant="small icon", color="common", (tap)="isExpanded=false")
            i.nz-icon(class=icon("mdi/minus-box"))
        ng-template(#ifNotExpanded )
          button.nz-button(variant="small icon", color="common", (tap)="isExpanded=true")
            i.nz-icon(class=icon("mdi/plus-box-outline"))
      ng-template(#ifIsLeaf )
        .icon-container
          i.nz-icon.icon(class=icon("mdi/circle-medium"), color="common")

  .nz-tree-item-content(fxFlex="grow", (tap)="isNode ? isExpanded=!_isExpanded : null", [ngClass]=`{"${style('content-expandable')}": isNode}`)
    ng-container([ngTemplateOutlet]="tree.contentTpl", [ngTemplateOutletContext]="this")
  .buttons(fxFlex="none")
    ng-container([ngTemplateOutlet]="tree.buttonsTpl", [ngTemplateOutletContext]="this")

ng-template([ngIf]="isNode && _isExpanded && _children")
  ng-template([ngIf]="_children.length > 0", [ngIfElse]="ifIsEmpty")
    .children(fxLayout="column", fxLayoutAlign="start stretch", fxLayoutGap="8px")
      ng-template(ngFor, [ngForOf]="_children", let-child)
        .nz-tree-item(fxFlex="none", [level]="level + 1", [model]="child")

  ng-template(#ifIsEmpty )
    .nz-list-empty Nincs további gyereke

