:stylus
  @require "./tabs"

  .tabcontents
    position: relative

  .label-scroller
    height: $nz-tab-label-height



div(fxFlex="grow", fxLayout="column", fxLayoutAlign="start stretch")
  .nz-scroller.label-scroller(fxFlex="none", hideScrollbar, *ngIf="tabs && tabs.length > 1", orient="horizontal")
    .nz-tab-labels(scrollable, fxLayout="row", fxLayoutAlign="start stretch")
      .nz-tab-label(
        fxFlex="noshrink",
        fxLayout="row",
        fxLayoutAlign="center center",
        [attr.selected]="selectedIndex==i ? '' : null",
        *ngFor="let tab of tabs; let i=index",
        on-tap="onLabelTap($event, i)",
        [attr.disabled]="tab.disabled ? '' : null")
        div.nz-tab-label-content
          ng-template([ngTemplateOutlet]="tab.labelTpl")
        .nz-ripple

      .nz-tab-underline(
        #underline,
        *ngIf="selectedIndex >= 0",
        [style.left.px]="underline.parentNode.children[selectedIndex]!.offsetLeft",
        [style.width.px]="underline.parentNode.children[selectedIndex]!.offsetWidth")

  .nz-stack(
    fxFlex="grow",
    [selectedIndex]="selectedIndex",
    [children]="tabContents")
