:stylus
  @require "./checkbox.styl"


  .nz-checkbox-input
    position: relative
    width: $nz-checkbox-size
    height: $nz-checkbox-size
    flex-shrink: 0
    flex-grow: 0

  .border
    position: absolute
    top: 0
    left: 0
    nz-rounded-rect: $nz-checkbox-size, $nz-checkbox-size, small
    border: 2px solid $theme.base.on.light

  .label
    display: inline-block
    flex-grow: 1
    position: relative
    top: 2px
    overflow: hidden
    max-width: 100%


label.nz-checkbox-label(for="{{id}}-chk")
  .nz-checkbox-input
    input.cdk-visually-hidden(
      #input,
      id="{{id}}-chk",
      type="checkbox",
      tabindex="-1",
      [attr.name]="name"
      [disabled]="disabled"
      [checked]="checked"
      [indeterminate]="indeterminate"
      on-focus="_handleFocus(true)"
      on-blur="_handleFocus(false)"
      on-change="_changeHandler($event)")
    .border
    .nz-checkbox-indicator
      .nz-checkbox-checkmark
  span.label.nz-checkbox-content
    ng-content
