:stylus
  @require "./grid.styl"

  .rows
    flex-grow: 1
    display: grid
    justify-content: stretch

  .empty
    text-align: center
    grid-row: 1
    grid-column: 1
    display: flex
    justify-content: center
    align-items: center

  .filter
    padding: 8px $nz-grid-padding
    border-top: 1px solid lighten($theme.foreground.default, 85%)
    background-color: lighten($theme.foreground.default, 95%)

ng-content(select=".nz-columns")

div.nz-hbox.filter(gap=8)
  .nz-grid-filter-chip
  .nz-grid-filter-chip
  .nz-grid-filter-chip
  .nz-grid-filter-chip

div(nzScrollable="vertical")
  .nz-list.rows(bind-style.gridTemplate="gtRows")
    ng-template(nzVirtualFor, [nzVirtualForOf]="source" let-virtual let-row="index" bind-fixedItemHeight="_rowHeight")
      .nz-data-grid-row(
        bind-style.gridTemplate="gtRow"
        bind-row="row"
        bind-selectable="virtual"
        bind-selectionIndex="row")

        ng-template(ngFor, [ngForOf]="columns.items" let-column let-col="index" let-firstCell="first" let-lastCell="last")
          .nz-data-grid-cell(
            bind-row="row"
            bind-col="col"
            bind-column="column"
            bind-data="virtual"
            bind-class.first-cell="firstCell"
            bind-class.last-cell="lastCell")

    .empty(*ngIf="displayEmptyText")
      div {{ emptyText }}

        //- .cell(style="grid-row: {{row}};grid-column: {{col}};") {{row}} - {{col}}
