:stylus
  .spinner
    padding: 8px
    position: relative

  .text-container
    overflow: hidden
    text-align: left
    whitespace: nowrap
    text-overflow: ellipsis
    margin-right: 16px

  .hidebutton:last-child
    margin-right: 8px

  .status-icon
    position: absolute
    top: 50%
    left: 50%
    transition: opacity 200ms
    opacity: 0

  .percent
    position: absolute
    left: 0
    right: 0
    top: 8px
    text-align: center
    nz-typo: $typo.body1
    color: $theme.common.normal
    font-weight: 500
    line-height: 40px


div.container(fxFlex="grow", fxLayout="row", fxLayoutAlign="start center", fxLayoutGap="8px")
  div.spinner(fxFlex="noshrink")
    nz-progress(type="circle", radius="20", [source]="_progress", [color]="spinnerColor")
    i.nz-icon.status-icon([style.opacity]="state==='success' ? 1 : 0", [color]="spinnerColor" class=icon("mdi/check-outline", 20) style="margin: -10px 0 0 -10px")
    i.nz-icon.status-icon([style.opacity]="state==='failure' ? 1 : 0", [color]="spinnerColor" class=icon("mdi/close-outline", 20) style="margin: -11px 0 0 -10px")
    span.percent(*ngIf="state==='progress' && percent !== null") {{ percent }}

  div.text-container(fxFlex="grow", *ngIf="infoText") {{ infoText }}

  button.nz-button.hidebutton(
      *ngIf="_detailsFactory || detailsVisible",
      (tap)="toggleDetails()",
      color="light-info",
      [variant]="detailsVisible ? 'icon filled' : 'icon'",
      fxFlex="noshrink")
    i.nz-icon(class=icon("mdi/information-outline"))

  button.nz-button.hidebutton(*ngIf="state === 'failure'", (tap)="hide()", color="light-common", variant="icon", fxFlex="noshrink")
    i.nz-icon(class=icon("mdi/close"))
