:stylus
  .picker-btn
    margin: -4px 4px -10px 4px
    align-self: start

  .input
    transition: opacity 180ms


ng-container(nzLayout="row", nzLayoutAlign="start center", nzLayoutGap="4px")
  input.nz-input.input(
    nzFlex="grow",
    type="text",
    pattern="[0-9]*",
    inputmode="numeric",
    #input,
    [tabindex]="tabIndex",
    [style.opacity]="(!model.isEmpty || model.focused) ? 1 : emptyOpacity",
    [style.pointer-events]="isButtonVariant ? 'none' : 'auto'",
    [style.cursor]="isButtonVariant ? 'pointer' : 'text'",
    [readonly]="isButtonVariant || readonly",
    [autosize]="autosize?.autosize",
    [autosizeExtra]="autosize?.autosizeExtra")

  ng-template([ngIf]="isButtonVariant", [ngIfElse]="ifNotButtonIcon")
    i.nz-icon(class=icon("mdi/calendar-today", 18), color="common")
    .nz-ripple

  ng-template(#ifNotButtonIcon )
    ng-template([ngIf]="!readonly && !disabled")
      .nz-button.picker-btn(nzFlex="none", tabindex="-1", color="common", variant="tiny icon", (tap)="opened=!opened")
        i.nz-icon(class=icon("mdi/calendar-today", 18))
