input.nz-input(
  #input,
  type="text",
  [imask]="imaskOptions",
  [unmask]="false",
  on-accept="_onAccept($event)",
  on-complete="_onComplete($event)",
  on-focus="_handleFocus(true)",
  on-blur="_handleFocus(false)")
