:stylus
  .picker-btn
    margin: -4px 4px -10px 4px
    align-self: start

  .input
    transition: opacity 180ms

  .container
    position: relative


.container(
    fxFlex="grow",
    fxLayout="row",
    fxLayoutAlign="start center",
    fxLayoutGap="4px",
    (tap)="isButtonVariant && !readonly && !disabled && (opened=!opened)")

  input.nz-input.input(
    fxFlex="grow",
    type="text",
    #input,
    [tabindex]="tabIndex",
    [style.opacity]="(!model.isEmpty || model.focused) ? '1' : '0'",
    [style.pointer-events]="isButtonVariant ? 'none' : 'auto'",
    [style.cursor]="isButtonVariant ? 'pointer' : 'text'",
    [readonly]="isButtonVariant || readonly")

  ng-template([ngIf]="isButtonVariant", [ngIfElse]="ifNotButtonIcon")
    i.nz-icon(class=icon("mdi/calendar-today", 18), color="common")
    .nz-ripple

  ng-template(#ifNotButtonIcon )
    ng-template([ngIf]="!readonly && !disabled")
      .nz-button.picker-btn(fxFlex="none", tabindex="-1", color="common", variant="tiny icon", (tap)="opened=!opened")
        i.nz-icon(class=icon("mdi/calendar-today", 18))
