:stylus
  @require "./select"
  @require "../../../util"

  .select-dropdown
    background-color: $theme.base.normal
    nz-elevation: 6

  .list-item
    cursor: pointer
    height: auto
    white-space: nowrap

  .select-input
    min-height: nz-local-grid-size(5)
    line-height: nz-local-grid-size(5)
    flex: 1
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-content: flex-start
    align-items: center

  .text-input
    height: nz-local-grid-size(5)
    line-height: nz-local-grid-size(5)
    font: inherit
    background: transparent
    border: none
    outline: none
    padding: 0
    margin: 0
    text-align: inherit
    display: inline-block
    flex: 1
    max-width: 100%
    width: 100%
    min-width: 30px
    color: inherit

  /*
  .arrow-down
    display: inline-block
    width: 0
    height: 0
    border-left: 6px solid transparent
    border-right: 6px solid transparent
    border-top: 6px solid $theme.foreground.lighter
    flex: none
  */

  .chip-item
    margin-right: 4px
    margin-bottom: 4px
    user-select: none

  .noselect
    user-select: none

  .trigger
    margin: -4px 4px -10px 4px
    align-self: start


div.select-input([style.user-select]="(editable ? 'auto' : 'none')")
  ng-template([ngIf]="!editable || selection.type !== 'single'")
    ng-template(ngFor, [ngForOf]="selection.items" let-item let-first="first" let-last="last")
      ng-template([ngIf]="item.isListAction", [ngIfElse]="normalModel")
        ng-template([ngTemplateOutlet]="item.action.tpl")
      ng-template(#normalModel)
        ng-template([ngTemplateOutlet]="selectedTpl", [ngTemplateOutletContext]="{$implicit:item,first:first,last:last}")
  input.text-input(
    *ngIf="editable",
    #input,
    type="text",
    [tabindex]="_tabIndex",
    on-input="_onInput($event)",
    on-tap="$event.preventDefault()",
    style="flex:1")

.nz-button.trigger(*ngIf="clearable && selection.items.length > 0", on-tap="_clearValue($event)", tabindex="-1", variant="tiny filled icon", style="background-color:transparent")
  i.nz-icon(class=icon("mdi/close", 18))

.nz-button.trigger(*ngIf="!hideTrigger", on-tap="_onTriggerClick($event)", tabindex="-1", variant="tiny filled icon", style="background-color:transparent")
  i.nz-icon(bind-attr.class=`triggerIcon || '${style(icon("mdi/chevron-down"))}'`)

ng-template(#default_selected_single let-item)
  span.noselect {{ getDisplayValue(item) }}

ng-template(#default_selected_multi let-item)
  span.nz-chip.chip-item([selectable]="item", [selection]="selection", removable)
    ng-template([ngTemplateOutlet]="itemTpl", [ngTemplateOutletContext]="{$implicit: item, chip: true}")

ng-template(#default_item let-item)
  span.noselect {{ getDisplayValue(item) }}
