:stylus
  @require "../list/list"

  .container
    overflow: hidden

  .list
    display: inline-grid
    grid-template-columns: 1fr

  .item
    cursor: pointer
    user-select: none
    grid-column: 1
    padding: 0 12px !important

  .action
    font-style: italic

  .scroller
    display: inline-grid

  .notfound
    padding: 0 12px !important


.container(fxFlex="grow", fxLayout="column inline", tabindex="0")
  ng-template([ngIf]="!hasCreateNew && isNotFound")
    .nz-list-empty.notfound(*ngIf="", fxFlex="none") Nem található

  .nz-scroller.scroller(#scroller, fxFlex="grow")
    .nz-list.list(#list, [style.gridTemplateRows]="gridTemplateRows", scrollable)
      ng-template([ngIf]="actionsByPosition.first && !source.isBusy")
        ng-template(ngFor, [ngForOf]="actionsByPosition.first", let-action, let-index="index")
          .nz-list-item.item.action(
              [style.gridRow]="index + 1",
              [selectableAction]="action.model",
              [selectionIndex]="index + 1",
              color="light-accent")
            ng-container([ngTemplateOutlet]="action.tpl")

      ng-template(nzVirtualFor,
          [nzVirtualForOf]="source",
          let-virtual,
          let-index="index",
          let-first="first",
          let-last="last",
          [fixedItemHeight]="48",
          [itemsPerRequest]="itemsPerRequest",
          (rendered)="onItemsRendered($event)")
        .nz-list-item.item([style.gridRow]="_offset(index)", [selectable]="virtual", [selectionIndex]="_offset(index)")
          ng-container([ngTemplateOutlet]="itemTpl", [ngTemplateOutletContext]="{$implicit:virtual}")

      ng-template([ngIf]="actionsByPosition.last && !source.isBusy")
        ng-template(ngFor, [ngForOf]="actionsByPosition.last", let-action, let-index="index")
          .nz-list-item.item.action(
              [style.gridRow]="_offset(index) + source.storage.lastIndex",
              [selectableAction]="action.model",
              [selectionIndex]="_offset(index) + source.storage.lastIndex",
              color="light-accent")
            ng-container([ngTemplateOutlet]="action.tpl")


nz-list-action(#createNewAction, position="last", text="Új elem létrehozás", (action)="itemFactory()")
  div(fxFlayout="row", fxLayoutGap="8px", fxLayoutAlign="start center")
    i.nz-icon(class=icon("mdi/plus-circle-outline"))
    span Új elem létrehozás
