:stylus
  @require "../list/list"

  .list
    display: inline-grid
    grid-template-columns: 1fr

  .item
    cursor: pointer
    user-select: none
    grid-column: 1
    padding: 0 12px !important

  .action
    font-style: italic

  .scroller
    display: inline-grid

  .notfound
    padding: 0 12px !important


div(fxFlex="grow", fxLayout="column inline", tabindex="0")

  .nz-list-empty.notfound(*ngIf="!hasCreateNew && isNotFound", fxFlex="none") Nem található

  //- TODO: loading anim

  .nz-scroller.scroller(#scroller, *ngIf="source.storage", fxFlex="grow")
    .nz-list.list(#list, [style.gridTemplateRows]="gridTemplateRows", scrollable)
      ng-template([ngIf]="actionsByPosition.first")
        ng-template(ngFor, [ngForOf]="actionsByPosition.first", let-action, let-index="index")
          .nz-list-item.item.action(
              [style.gridRow]="index + 1",
              [selectableAction]="action.model",
              [selectionIndex]="index + 1",
              color="light-accent")
            ng-template([ngTemplateOutlet]="action.tpl")

      ng-template(nzVirtualFor,
          [nzVirtualForOf]="source",
          let-virtual,
          let-index="index",
          let-first="first",
          let-last="last",
          [fixedItemHeight]="48",
          (rendered)="onItemsRendered($event)")
        .nz-list-item.item([style.gridRow]="offset(index)", [selectable]="virtual", [selectionIndex]="offset(index)")
          ng-template(
            [ngTemplateOutlet]="itemTpl",
            [ngTemplateOutletContext]="{$implicit:virtual}")

      ng-template([ngIf]="actionsByPosition.last")
        ng-template(ngFor, [ngForOf]="actionsByPosition.last", let-action, let-index="index")
          .nz-list-item.item.action(
              [style.gridRow]="offset(index) + source.storage.lastIndex",
              [selectableAction]="action.model",
              [selectionIndex]="offset(index) + source.storage.lastIndex",
              color="light-accent")
            ng-template([ngTemplateOutlet]="action.tpl")


nz-list-action(#createNewAction, position="last", text="Új elem létrehozás", (action)="itemFactory()")
  div(fxFlayout="row", fxLayoutGap="8px", fxLayoutAlign="start center")
    i.nz-icon(class=icon("mdi/plus-circle-outline"))
    span Új elem létrehozás
