
div(#container, fxFlex="grow", fxLayout="row", fxLayoutAlign="start center", fxLayoutGap="8px")
  i.nz-icon(fxShow, fxHide.xs, [class]="icon")

  .nz-button(fxFlex="0 0 28px", fxHide, fxShow.xs, on-tap="hideSearch()", variant="tiny filled icon")
    i.nz-icon(class=icon("mdi/arrow-left"))

  .nz-placeholder(fxFlex="grow", variant="hide")
    label {{ label }}
    .nz-select(
      #select,
      fxFlex="grow",
      editable,
      hideTrigger,
      [autoTrigger]="autoTrigger",
      [dataSource]="source",
      [nzLayerFactory]="AutocompleteComponent",
      [nzTargetEl]="container.parentElement",
      [selectedTpl]="selectedTpl",
      [itemTpl]="itemTpl",
      [actions]="actions",
      nzTargetAnchor="center bottom",
      nzLevitateAnchor="center top",
      (opened)="opened=$event",
      (focused)="focused=$event",
      (empty)="empty=$event")


  .nz-button(*ngIf="!empty", fxFlex="0 0 28px", variant="tiny filled icon", on-tap="select.reset()")
    i.nz-icon(class=icon("mdi/close"))


ng-template(nzViewportItem="topRight:-100")
  button.nz-button(variant="medium icon", fxHide, [fxShow.xs]="!vps.navbarCenterOverlap", on-tap="showSearch()")
    i.nz-icon([class]="icon")
