
div(#container, fxFlex="grow", fxLayout="row", fxLayoutAlign="start center", fxLayoutGap="8px")
  i.nz-icon(fxShow, fxHide.xs, [class]="icon")

  .nz-button(fxFlex="0 0 28px", fxHide, fxShow.xs, on-tap="hideSearch()", variant="tiny filled icon")
    i.nz-icon(class=icon("mdi/arrow-left"))

  .nz-placeholder(fxFlex="grow", variant="hide")
    label Keresés
    .nz-select(
      #select,
      fxFlex="grow",
      editable,
      hideTrigger,
      autoTrigger,
      [dataSource]="source",
      [nzLayerFactory]="AutocompleteComponent",
      [nzTargetEl]="container.parentElement"
      nzTargetAnchor="center bottom",
      nzLevitateAnchor="center top",
      on-opened="opened=$event",
      on-focused="focused=$event",
      on-empty="empty=$event")
      ng-content

  .nz-button(*ngIf="!empty", fxFlex="0 0 28px", variant="tiny filled icon", on-tap="select.reset()")
    i.nz-icon(class=icon("mdi/close"))


ng-template(nzViewportItem="topRight:-100")
  button.nz-button(variant="medium icon", fxHide, [fxShow.xs]="!vps.navbarCenterOverlap", on-tap="showSearch()")
    i.nz-icon([class]="icon")
